{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent A Home</title>

    {% tailwind_css %}
</head>

<body>
    <p class="text-center text-2xl bg-slate-800 hover:bg-indigo-600">Hello I am Rayhan and i'm testing this project
        feasibility</p>
    <p class="text-center bg-indigo-800">This is testing from shahajahan</p>
</body>

</html>